/* fonts item */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    justify-content: center;

}
.container{
    width: 1050px;
    margin-top: 70px;
}

/*-----------------
 header style start 
-------------------- */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2D25A0;
    width: 1349px;
    height: 677px;
}
.header-top{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 98px;
}
.header-title {
    width: 485px;
    font-size: 64px;
    font-weight: bold;
    color:#ffffff;
    
}
.header-btn{
    color:white;
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    text-decoration: none;
    padding: 10px;
}
.header-banner{
   
    overflow: hidden;
    transition: transform 1s ease-in-out;
}
.header-banner img{
    width: 500px;
    height: 438px;
}
.header-banner:hover {
    transform: scale(1.2) ;
}
/* players-bio styles  */

.players-bio{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 45px;
}
.player{
    width: 310px;
    height: 450px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);;
}
.player img{
    width: 100%;
}
/*  */
.copa-america{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 66px;
    
}
.copa-details{
    width: 468px;
    height: 309px;
    margin-top: 224px;
}
.copa-details h2{
    font-size: 46px;
    color:#0A0826;
    font-weight: 700;
    margin: 0px;
}
.copa-details p{
    margin-bottom: 24px;
}
.messi-img img{
    margin-top: 165px;
    width: 550px;
    height: 427px;
}
/*------------------
 footer start here 
 -------------------*/
 footer{
     display: flex;
     justify-content: center;
 }
.footer-item{
    text-align: center;
    margin-top: 160px;
}
.footer-top img{
    width: 483px;
    height: 110px;
}
.icons{
    display: flex;
    justify-content: center;
}
.icons a{
    text-decoration: none;
    color:#656566;
    font-size: 20px;
    width: 32px;
    height: 32px;
    background-color: #969BAB;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 14px;
}
/* ----------------
   media quries 
   ----------------*/
   @media only screen and (max-width:688px) {
       .container{
           width: 100%;
           
       }
       header{
           height: 100%;
       }
    .header-top{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;
    }
    .players-bio{
        grid-template-columns: repeat(1, 1fr);
       
    }
   }